<div class="contenedor-padre container jumbotron text-center" style="background-color:#DDDDDD; height:500px">
    <div >
        <div style="display: inline;">
            <span class="privacidad-titulo"><strong>COTIZA</strong> TU PROYECTO</span>
        </div>
        <img src="~/img/reunión de negocios .webp" />
    </div>
</div>
<br />
<br />
<div class="row container py-5">
    <div class="row g-5">
        <div class="col-lg-6 wow fadeIn">
            <a href="">
                <h2 class="author-text">
                    Diseñamos tu historia
                </h2>
            </a>
        </div>
        <div class="col-lg-6 wow fadeIn">
            <p class="cap-title">Cuéntanos ¿para qué quieres ahorrar para tu retiro, para la educación de tus hijos, para tu casa?, ¿qué buscas tener en tu ahorro, coberturas de salud, beneficios fiscales?, déjanos todos tus datos para estudiarlo, personalizarlo y hacerte la mejor propuesta.</p>
        </div>
    </div>
</div>
<br />
<br />
<div class="container-fluid appointment my-5 py-5 wow fadeIn"
     data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                <h1 class="display-6 text-white mb-5">
                    Solicita tu cotización
                </h1>
                <p class="text-white mb-5">
                    Compártenos tus datos y te asignaremos a un agente para atención personalizada.
                </p>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="bg-white rounded p-5">
                    <form>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text"
                                           class="form-control"
                                           id="gname"
                                           placeholder="Nombre" />
                                    <label for="gname">Nombre</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="email"
                                           class="form-control"
                                           id="gmail"
                                           placeholder="Correo" />
                                    <label for="gmail">Correo</label>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-floating">
                                    <input type="text"
                                           class="form-control"
                                           id="cname"
                                           placeholder="Telefono" />
                                    <label for="cname">Telefono</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control"
                                              placeholder="Dejanos un mensaje"
                                              id="message"
                                              style="height: 80px"></textarea>
                                    <label for="message">Mensaje</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary py-3 px-5" type="submit">
                                    Enviar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>