
<div class="row container py-2">
    <div class="row g-5">
        <div class="col-lg-6 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <img class="img-fluid" src="~/img/dd9cb1_c7091c30189d4c81bdb5254142d0dcc0~mv2.webp" />
        </div>
        <div class="col-lg-6 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <h1>Galería</h1>
            <p class="cap-title">Nos gusta compartir momentos importantes de la formación de nuestro equipo de trabajo, tanto de colaboradores como de agentes de seguros. Aquí encontrarás memorias de nuestra promotoría Grupo RV.</p>
        </div>
    </div>
</div>
<br />
<br />
<!-- Gallery -->
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="~/img/galeria/dd9cb1_d8c67dec06774b98b6798a90a400fa51~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />

            <img src="~/img/galeria/dd9cb1_f843c0cf263b4a6eba269525af3ebbc3~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Mountains in the Clouds" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="~/img/galeria/dd9cb1_fe8c211cd50c4eed85fa44d768afea05~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Wintry Mountain Landscape" />

            <img src="~/img/galeria/dd9cb1_2d1b0b77af624ce3bbe60b68b0661577~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />

            <img src="~/img/galeria/dd9cb1_8c541c7cb075491291baad8525279569~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="~/img/galeria/dd9cb1_8fa86664f7d54065a9441306d1302e8f~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Waves at Sea" />

            <img src="~/img/galeria/dd9cb1_335e5ae8e249415cbebef762753ce573~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Waves at Sea" />
        </div>
        <div class="col-lg-12">

            <img src="~/img/galeria/dd9cb1_7e6305c616214af196149645b6c4ce36~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Yosemite National Park" />

        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="~/img/galeria/dd9cb1_2a1f329771cc4f9b9878c1cb0d3eb6f3~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Yosemite National Park" />

            <img src="~/img/galeria/dd9cb1_237e91f62f7c4301ada9ae167e3a61ad~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Mountains in the Clouds" />
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="~/img/galeria/dd9cb1_75b691482f5e4149b1d7bcee01eaacee~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

            <img src="~/img/galeria/dd9cb1_be10f7ee012342a681d989d5a441fed2~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Yosemite National Park" />
        </div>
        <div class="col-lg-12">
            <img src="~/img/galeria/dd9cb1_73186d942a214c7095880da11ab065c3~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Mountains in the Clouds" />
        </div>
    </div>
</div>
<!-- Gallery -->

<br />
<br />
<!-- Modal gallery -->
<!-- Section: Images -->
<section class="">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light">
                <img src="~/img/galeria/dd9cb1_c2c74b69ff534323a6d395b568d1252f~mv2.webp"
                     class="w-100" />
                <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light">
                <img src="~/img/galeria/dd9cb1_a4bb0bc7708742cbb87cbe7912a3ec05~mv2.webp"
                     class="w-100" />
                <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light">
                <img src="~/img/galeria/dd9cb1_039dfb1579bf4af5b975920bfd989398~mv2.webp"
                     class="w-100" />
                <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                </a>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-9 mb-4 mb-lg-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light">
                <img src="~/img/galeria/dd9cb1_a0a7589716c3428693262f660f8c5d97~mv2.webp"
                     class="w-100" />
                <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 mb-4 mb-lg-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light">
                <img src="~/img/galeria/dd9cb1_7a33bf7719124f9d93539014d04500aa~mv2.webp"
                     class="w-100" />
                <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                </a>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4 mb-3 mb-lg-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light">
                <img src="~/img/galeria/dd9cb1_e59bc469adda41dca6dc26c00835506b~mv2.webp"
                     class="w-100" />
                <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 mb-3 mb-lg-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light">
                <img src="~/img/galeria/dd9cb1_f590abe628914b76a660810b6fc3a7de~mv2.webp"
                     class="w-100" />
                <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 mb-3 mb-lg-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light">
                <img src="~/img/galeria/dd9cb1_50ecc184e40c4d73a09070b3a6f8f191~mv2.webp"
                     class="w-100" />
                <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Modal gallery -->