
<div class="row container py-5">
    <div class="row g-5">
        <div class="col-lg-6 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <img class="img-fluid" src="~/img/dd9cb1_c7091c30189d4c81bdb5254142d0dcc0~mv2.webp" />
        </div>
        <div class="col-lg-6 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <h1>Galería</h1>
            <p class="cap-title">Nos gusta compartir momentos importantes de la formación de nuestro equipo de trabajo, tanto de colaboradores como de agentes de seguros. Aquí encontrarás memorias de nuestra promotoría Grupo RV.</p>
        </div>
    </div>
</div>

<!-- Gallery -->
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="~/img/galeria/dd9cb1_d8c67dec06774b98b6798a90a400fa51~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />

            <img src="~/img/galeria/dd9cb1_f843c0cf263b4a6eba269525af3ebbc3~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Mountains in the Clouds" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="~/img/galeria/dd9cb1_fe8c211cd50c4eed85fa44d768afea05~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Wintry Mountain Landscape" />

            <img src="~/img/galeria/dd9cb1_2d1b0b77af624ce3bbe60b68b0661577~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />

            <img src="~/img/galeria/dd9cb1_8c541c7cb075491291baad8525279569~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="~/img/galeria/dd9cb1_8fa86664f7d54065a9441306d1302e8f~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Waves at Sea" />

            <img src="~/img/galeria/dd9cb1_335e5ae8e249415cbebef762753ce573~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Waves at Sea" />
        </div>
        <div class="col-lg-12">

            <img src="~/img/galeria/dd9cb1_7e6305c616214af196149645b6c4ce36~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Yosemite National Park" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">

            <img src="~/img/galeria/dd9cb1_2a1f329771cc4f9b9878c1cb0d3eb6f3~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Yosemite National Park" />
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="~/img/galeria/dd9cb1_75b691482f5e4149b1d7bcee01eaacee~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />

            <img src="~/img/galeria/dd9cb1_237e91f62f7c4301ada9ae167e3a61ad~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Mountains in the Clouds" />
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

            <img src="~/img/galeria/dd9cb1_be10f7ee012342a681d989d5a441fed2~mv2.webp"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Yosemite National Park" />
        </div>
    </div>
</div>
<!-- Gallery -->