<div class="row col-lg-12">
    <div class="row text-center">
        <div style="display: inline;">
            <span class="privacidad-titulo">AVISO DE <strong>PRIVACIDAD</strong></span>
        </div>
    </div>
    <div class="row text-center">
        <span class="privacidad-semititulo">Grupo RV</span>
    </div>
</div>
<br />
<div class="row col-lg-12">
    <div class="centered-justified">
        <p class="privacidad-parrafo">
            Su privacidad y confianza son muy importantes, por ello, queremos asegurarnos de que conozca cómo salvaguardamos la integridad, privacidad y protección de sus datos personales, en apego a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (la “Ley”), su Reglamento de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (“Reglamento”) y los Lineamientos del Aviso de Privacidad (“Lineamientos”) .
        </p>
        <br />
        <p class="privacidad-parrafo">
            Por lo anterior, resulta necesaria la recopilación de ciertos datos personales para llevar a cabo las actividades intrínsecas a nuestro giro comercial y mercantil, garantizando cumplir con las medidas legales y de seguridad suficientes para proteger aquellos datos personales que de usted hayamos recabado para las finalidades descritas en el presente Aviso de Privacidad Integral.
            Lo anterior se realiza con el objetivo de que Usted tenga pleno control y decisión sobre sus datos personales. Por ello, le recomendamos que lea atentamente la siguiente información:
        </p>
        <p class="privacidad-parrafo">
            I. IDENTIDAD Y DOMICILIO DEL RESPONSABLE, ASÍ COMO LOS DATOS QUE SE TRATARÁN
            Grupo RV es representado por Miriam Vargas Navarrete, con domicilio en Lago Alberto 319 - Piso 9, Col. Granada, Miguel Hidalgo, CP 11520, Ciudad de México.
        </p>
        <p class="privacidad-parrafo">
            
AVISO DE PRIVACIDAD
Grupo RV

Su privacidad y confianza son muy importantes, por ello, queremos asegurarnos de que conozca cómo salvaguardamos la integridad, privacidad y protección de sus datos personales, en apego a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (la “Ley”), su Reglamento de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (“Reglamento”) y los Lineamientos del Aviso de Privacidad (“Lineamientos”) .

​

Por lo anterior, resulta necesaria la recopilación de ciertos datos personales para llevar a cabo las actividades intrínsecas a nuestro giro comercial y mercantil, garantizando cumplir con las medidas legales y de seguridad suficientes para proteger aquellos datos personales que de usted hayamos recabado para las finalidades descritas en el presente Aviso de Privacidad Integral.

Lo anterior se realiza con el objetivo de que Usted tenga pleno control y decisión sobre sus datos personales. Por ello, le recomendamos que lea atentamente la siguiente información:

 

I. IDENTIDAD Y DOMICILIO DEL RESPONSABLE, ASÍ COMO LOS DATOS QUE SE TRATARÁN

Grupo RV es representado por Miriam Vargas Navarrete, con domicilio en Lago Alberto 319 - Piso 9, Col. Granada, Miguel Hidalgo, CP 11520, Ciudad de México.

 

II. DATOS PERSONALES QUE SE TRATARÁN

Grupo RV recabará de sus clientes, interesados, prospectos, candidatos a agentes, referidos, solicitantes, en los servicios de intermediación de seguros respecto de la cartera de productos de Prudential Seguros México, S.A. de C.V. (la “Sociedad”), sus datos personales de identificación, incluyendo su imagen personal, de contacto, domicilio, nacionalidad, estatus legal o migratorio en el país, de autenticación, biométricos (de manera enunciativa mas no limitativa, la relacionada con huellas dactilares, el análisis del iris y de la retina, la geometría de la mano, las venas del dorso de la mano, los patrones de voz, el análisis del ADN, la forma o cadencia al caminar, de los gestos y de la forma e impresión de la firma o de la escritura), laborales, de salud, estudios e informes médicos, patrimoniales y/o financieros, hábitos personales, así como, coordenadas geográficas de latitud y longitud en que se encuentren, dispositivos ópticos y/o electrónicos utilizados para la solicitud y contratación de los productos y/o servicios de la Sociedad (“geolocalización”), en lo sucesivo, los “Datos Personales”, de conformidad a lo establecido en el presente documento.

Asimismo, se recabarán Datos Personales de identificación y/o contacto de las personas que como parte de las actividades de intermediación de seguros respecto de la cartera de productos de la Sociedad, Usted haya designado como beneficiarios. Al proporcionar estos datos Usted reconoce tener el consentimiento de dichas personas para el tratamiento de sus datos con fines de contacto, información, localización, así como, para realizar validaciones y/o actualizaciones respecto de la información proporcionada.

Finalmente, Grupo RV, como parte de los servicios de intermediación de seguros respecto de la cartera de productos de la Sociedad, podrá recabar los datos personales de identificación y contacto de las personas que Usted haya designado como terceros adicionales y/o referidos. Al proporcionar estos datos Usted reconoce tener el consentimiento de dichas personas para que sus datos personales sean tratados para cumplir con las finalidades señaladas en el presente Aviso de Privacidad.

De lo anterior, Grupo RV, se compromete a tratar, resguardar y administrar los datos personales generales y sensibles que sean recabados, en términos de lo dispuesto en la Ley, el Reglamento y los Lineamientos.

Asimismo, Grupo RV declaramos encontrarnos debidamente capacitados para salvaguardar y proteger la información recabada, en términos de la Ley, el Reglamento y los Lineamientos.

Además, Grupo RV tomaremos las medidas necesarias para mantener de forma segura y confidencial toda la información recabada y relacionada con los servicios de intermediación de seguros respecto de la cartera de productos de la Sociedad.
        </p>
        <p class="privacidad-parrafo">
            III. Finalidades Primarias y Secundarias del Tratamiento de Datos

Grupo RV tratará sus Datos Personales conforme a los términos del presente Aviso de Privacidad.

Los Datos Personales que proporcione serán utilizados para las siguientes finalidades primarias y necesarias como parte de los servicios de intermediación de seguros respecto de la cartera de productos de la Sociedad, en carácter de responsable, y Usted como titular de los Datos Personales:

A. Primarias
        </p>
        <p class="privacidad-parrafo">
            (i) Promover por medios tanto presenciales como no presenciales, la cartera de productos de la Sociedad, evaluar sus necesidades de protección, realizar evaluación de riesgos programar citas médicas, realizar investigaciones relacionadas con la oferta, contratación y administración dela cartera de productos de la Sociedad, incluyendo aquellos datos personales sensibles necesarios e incluidos en la sección “DATOS PERSONALES QUE SE TRATARÁN”;

(ii) Analizar personalmente y/o por conducto de terceros, los datos personales, familiares, médicos, patrimoniales y/o financieros, con el propósito de evaluar sus necesidades, así como el riesgo inherente, y en su caso, transferir, transmitir, enviar, compartir o comunicar dicha información a la Sociedad, a fin de formalizar la celebración del contrato/s de seguro relacionado/s con la cartera de productos y/o servicios de la Sociedad, incluyendo el cumplimiento de cualquier obligación, gestión o trámite, directo o indirecto, derivado de la relación jurídica presente o futura generada entre Usted y la Sociedad, como consecuencia, en su caso, de la referida  contratación;

(iii) El procesamiento y/o envío de solicitudes y su administración, envío de comunicaciones comerciales y de servicio a través de correos electrónicos, llamadas telefónicas, servicios de mensajería instantánea, mensajes cortos y demás medios de comunicación físicos y/o electrónicos, redes sociales, realizar investigaciones y monitoreos periódicos, realizar visitas domiciliarias para validaciones de datos y/o para la gestión de solicitudes relacionado/s con la cartera de productos y/o servicios de la Sociedad;

(iv) Gestionar la generación de datos de autenticación para, por un lado, crear un perfil de acceso a los sistemas electrónicos de la Sociedad, brindarle atención técnica y/o, por el otro, gestionar acreditaciones de su identidad cuando utilice equipos o sistemas electrónicos y/o automatizados de la Sociedad; asimismo, si se encuentra en nuestras instalaciones, para mantener el control del acceso y mantenimiento de programas para garantizar la seguridad, salud y protección de clientes, beneficiarios, contratantes, asegurados, solicitantes, prospectos, empleados, visitantes y proveedores  por medio de dispositivos y medios electrónicos, ópticos o por cualquier otra tecnología;

(v) Elaborar informes estadísticos de usted, su empresa o la empresa en la que colabora;

(vi) La creación e implementación de procesos analíticos, estadísticos, de seguridad, almacenamiento, resguardo (tanto físico como digital), incluyendo la creación e implementación de procesos de continuidad de negocio y/o de contingencia sin importar su naturaleza u origen;

(vii) La realización de cualquier actividad complementaria o auxiliar necesaria como parte de los servicios de intermediación de seguros respecto de la cartera de productos y/o servicios de la Sociedad;

(viii) Actividades relacionadas con el ofrecimiento, la promoción, venta, comercialización y/o el asesoramiento como parte de los servicios de intermediación de seguros a través del Agente respecto de la cartera de productos de la Sociedad;

(ix) Hacer consultas, aclaraciones, encuestas, investigaciones y revisiones con relación a sus quejas, aclaraciones y/o reclamaciones, directamente relacionadas con Grupo RV;

(x) Contactarlo para cualquier tema relacionado con la intermediación de seguros respecto de la cartera de productos de la Sociedad y/o relacionados con el presente Aviso de Privacidad;

(xi) Cumplir obligaciones derivadas de cualquier relación jurídica que se genere Grupo RV, y Usted por la prestación de los servicios de intermediación de seguros respecto de la cartera de productos de Grupo RV;

(xii) Evaluar la calidad de los servicios mediante encuestas;

(xiii) Realizar la verificación/validación de los datos personales proporcionados incluyendo la veracidad de los mismos directamente con autoridades gubernamentales y/o contra bases de datos de entidades públicas y, en caso de discrepancia, llevar a cabo las rectificaciones o correcciones que resulten necesarias para mantener actualizada y correcta su información;

(xiv) Para fines de auditorías internas o externas, así como para cumplir con las obligaciones de colaboración y/o requerimientos de información formulados por las autoridades gubernamentales competentes, cuando sea necesario para salvaguardar el interés público, la procuración o administración de justicia y/o en términos de la legislación vigente y aplicable;

(xv) Considerando su seguridad, dentro de nuestras instalaciones, sucursales y oficinas, haremos uso de tecnologías de seguridad y registros de control tales como: (a) Video vigilancia; (b)Bitácora de acceso a las instalaciones y (c) Cualquier otra relacionada o conexa;

(xvi) Recabar información referente a conductas que Usted haya realizado y/o hubiere sido informado, y tengan una relación directa con la detección y atención de cualquier enfermedad o situación catalogada como una emergencia y/o contingencia cualquiera que sea su origen o naturaleza, por parte de las autoridades competentes, incluyendo la toma de su temperatura y signos vitales para el cumplimiento de leyes, reglamentos y disposiciones legales aplicables;

B. Secundarias

Además, si Usted no manifiesta lo contrario, Grupo RV se dará tratamiento a sus Datos Personales para las siguientes finalidades secundarias:

(i) Información de los productos y/o servicios ofrecidos por la Sociedad, incluyendo sin limitación alguna, información relativa a sus productos, servicios y/o beneficios adicionales, por cualquier medio físico, electrónico o magnético, incluyendo de manera enunciativa y no limitativa, correo ordinario, correo electrónico, mensajes de texto, llamadas telefónicas y/o descargas electrónicas;

(ii) Noticias y anuncios en general, que sean o puedan ser considerados importantes o relacionados con la Sociedad;
        </p>
        <p class="privacidad-parrafo">
            IV. TRANSFERENCIA DE DATOS

Con la finalidad de dar cumplimiento a las obligaciones derivadas de la relación jurídica con Usted, así como aquellas finalidades previstas en este Aviso de Privacidad, Grupo RV, transferirá sus Datos Personales a la Sociedad, a fin de formalizar la celebración del contrato/s de seguro y/o servicios que hubieran sido solicitados por Usted, incluyendo el cumplimiento de cualquier obligación, gestión o trámite, directo o indirecto, derivado de la relación jurídica presente o futura generada como consecuencia de la referida  contratación;

Asimismo, transferiremos su información personal a:

(a) Autoridades competentes, en especial a autoridades Hacendarias y/o Administrativas o Judiciales, en los casos legalmente previstos para las finalidades exigidas en las leyes aplicables;

(b) Autoridades y Organismos Gubernamentales, incluyendo sin limitar: (i) en materia de salud para su registro, seguimiento y prevención de contagio, diagnóstico o tratamiento médico o para la gestión de servicios sanitarios ante enfermedades contagiosas, (ii) Hacendarias, para la validación/verificación de su información fiscal, RFC, datos de identificación y contacto, (iii) Financieras, en relación con los productos y servicios contratados con la Sociedad, entre otras, así como para cualquier otra finalidad prevista en la legislación vigente y aplicable;

Asimismo, Usted otorga su consentimiento expreso e inequívoco, para que Grupo RV, en términos de lo dispuesto por la Ley, transfiera sus Datos Personales al Instituto Nacional Electoral (INE), el Registro Federal de Electores y/o el Registro Nacional de Población e Identificación Personal (RENAPO), única y exclusivamente para fines de validación y verificación de los mismos a través de las bases de datos oficiales y sistemas de verificación empleados por dichos organismos;

Grupo RV, se compromete a velar por el cumplimiento de todos los principios legales de protección en torno a la transferencia de sus Datos Personales. De igual forma, manifiesta su compromiso para que se respete en todo momento, el presente Aviso de Privacidad.
        </p>
        <p class="privacidad-parrafo">
            V. LIMITACIONES PARA EL USO Y DIVULGACIÓN DE DATOS PERSONALES

Usted puede limitar el uso o divulgación de sus datos para dejar de recibir promociones, ofertas y publicidad por parte de Grupo RV mediante enlace.grupo.rv@gmail.com.
        </p>
        <p class="privacidad-parrafo">
            En caso de que su solicitud resulte procedente, Grupo RV, lo registrará en el listado de exclusión con el objeto de que Usted deje de recibir nuestras promociones conforme a los plazos incluidos en la Ley y el Reglamento.
        </p>
        <p class="privacidad-parrafo">
            VI. MEDIOS PARA EJERCER LOS DERECHOS DE ACCESO, RECTIFICACIÓN, CANCELACIÓN U OPOSICIÓN (“DERECHOS ARCO”):

De conformidad con lo dispuesto en la Ley y Reglamento, el titular de los Datos Personales, por sí o mediante representante legal, debiendo identificarse o acreditarse correctamente, podrá ejercer sus derechos de Acceso, Rectificación, Cancelación y Oposición ("Derechos ARCO"), así como revocar su consentimiento directamente enlace.grupo.rv@gmail.com, describiendo de manera clara y precisa los datos personales respecto de los que se busca ejercer alguno de los Derechos ARCO. Es importante mencionarle que para ejercitar sus derechos ARCO, es necesario realizar el siguiente procedimiento: enlace.grupo.rv@gmail.com
        </p>
        <p class="privacidad-parrafo">
            
Realizar su “Solicitud de Derechos ARCO” mediante enlace.grupo.rv@gmail.com;

Además de anexar copia de: Credencial de Elector, Pasaporte, Cédula Profesional (vigentes) para acreditar la personalidad de quien solicita y especificar la relación que se tiene con Nombre de agente o promotor, así como los medios de contacto, y

En caso de que el solicitante sea el representante legal, deberá anexar copia de identificación de él y del titular de la información, así como carta poder o poder notarial datos visibles y completos;
        </p>
        <p class="privacidad-parrafo">
            Remitir la solicitud mediante: enlace.grupo.rv@gmail.com
        </p>
        <p class="privacidad-parrafo">
            Todo lo anterior en un horario de atención de lunes a viernes de 9:00 a.m. a 5:00 pm.
        </p>
        <p class="privacidad-parrafo">
            En los casos donde la solicitud no cumpla con todos los elementos legales para los efectos mencionados, Grupo RV, le notificará por los medios por los cuales se recibió su solicitud y conforme en los plazos establecidos en la Ley y Reglamento.
        </p>
        <p class="privacidad-parrafo">
            Por último, le informamos que la determinación adoptada se le notificará por los medios por los cuales se recibió su solicitud y conforme en los plazos establecidos en la Ley y Reglamento.
        </p>
        <p class="privacidad-parrafo">
VII. USO DE COOKIES, WEB BEACONS U OTRAS TECNOLOGÍAS SIMILARES

Los diferentes sitios de Internet y servicios en línea de  Grupo RV, se basan en el manejo de Cookies y/o Web Beacons que permiten que recabe automáticamente datos personales. Al ingresar y continuar con el uso de nuestro Sitio de Internet, Usted consiente que Grupo RV, recabe y trate sus datos personales. El uso de estas tecnologías es necesario por motivos de operación, técnicos y de seguridad. Para más información favor de consultar los términos y condiciones en nuestro Sitio de Internet.        
</p>
<p class="privacidad-parrafo">
   VIII. CAMBIOS AL AVISO DE PRIVACIDAD

Cualquier cambio sustancial o total que se realice al presente Aviso de Privacidad podrá ser realizado por Grupo RV, y será comunicado en nuestra página www.gruporvseguros.com.

Recomendamos que visite la página de internet frecuentemente para revisar cualquier actualización www.gruporvseguros.com.
</p>
    </div>
</div>