<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto">
            <h1 class="display-6">
                <span class="privacidad-titulo"><strong>Nuestros</strong> Productos</span>
            </h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded h-100 p-5">
                    <div class="d-flex align-items-center ms-n5 mb-4">
                        <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                            <img class="img-fluid"
                                 src="~/img/icon/icon-04-light.png"
                                 alt="" />
                        </div>
                        <h4 class="mb-0">PROTECCIÓN</h4>
                    </div>
                    <p class="mb-4">
                        Asesorar y proteger a los mexicanos es nuestro objetivo como agentes de seguros, trabajamos para brindar información correcta y el proyecto adecuado según las necesidades de protección de cada mexicano, en nuestros productos encontrarás los siguientes beneficios:
                    </p>
                    <a class="btn btn-light px-3" href="#">Alta y ajustable suma asegurada</a><br />
                    <a class="btn btn-light px-3" href="#">Blindaje por accidentes e incapacidad</a><br />
                    <a class="btn btn-light px-3" href="#">Recuperación de primas básicas</a><br />
                    <a class="btn btn-light px-3" href="#">Temporalidad ajustable desde 10 años</a><br />
                    <a class="btn btn-light px-3" href="#">Prima ajustable según necesidades</a><br />
                    <a class="btn btn-light px-3" href="#">Coberturas de salud</a><br />
                    <a class="btn btn-light px-3" href="#">Proyectos personalizados</a><br />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded h-100 p-5">
                    <div class="d-flex align-items-center ms-n5 mb-4">
                        <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                            <img class="img-fluid"
                                 src="~/img/icon/icon-03-light.png"
                                 alt="" />
                        </div>
                        <h4 class="mb-0">AHORRO</h4>
                    </div>
                    <p class="mb-4">
                        Según las necesidades de cada mexicano, ayudamos a encontrar el proyecto perfecto para cumplir sus objetivos de ahorro dependiendo la etapa de la vida en la que se encuentren, en nuestros productos encontrarás los siguientes beneficios:
                    </p>
                    <a class="btn btn-light px-3" href="#">Alta y ajustable suma asegurada</a><br />
                    <a class="btn btn-light px-3" href="#">Blindaje por accidentes e incapacidad</a><br />
                    <a class="btn btn-light px-3" href="#">Recuperación de primas básicas</a><br />
                    <a class="btn btn-light px-3" href="#">Temporalidad ajustable desde 10 años</a><br />
                    <a class="btn btn-light px-3" href="#">Prima ajustable según necesidades</a><br />
                    <a class="btn btn-light px-3" href="#">Coberturas de salud</a><br />
                    <a class="btn btn-light px-3" href="#">Proyectos personalizados</a><br />
                    <a class="btn btn-light px-3" href="#">Ahorro por años</a><br />
                    <a class="btn btn-light px-3" href="#">Proyectos vitalicios</a><br />
                    <a class="btn btn-light px-3" href="#">Define tu objetivo y temporalidad</a><br />
                    <a class="btn btn-light px-3" href="#">Ahorro adicional voluntario</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded h-100 p-5">
                    <div class="d-flex align-items-center ms-n5 mb-4">
                        <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                            <img class="img-fluid"
                                 src="~/img/icon/icon-09-light.png"
                                 alt="" />
                        </div>
                        <h4 class="mb-0">EDUCACIÓN</h4>
                    </div>
                    <p class="mb-4">
                        Protegiendo a quienes más amamos, ayudamos a que cada mexicano blinde la educación de sus hijos desde cualquier edad para construir mexicanos jóvenes felices impulsados por la educación
                        en nuestros productos encontrarás los siguientes beneficios:
                    </p>
                    <a class="btn btn-light px-3" href="">Alta y ajustable suma asegurada</a><br />
                    <a class="btn btn-light px-3" href="">Blindaje por accidentes e incapacidad</a><br />
                    <a class="btn btn-light px-3" href="">Recuperación de primas básicas</a><br />
                    <a class="btn btn-light px-3" href="">Temporalidad ajustable desde 10 años</a><br />
                    <a class="btn btn-light px-3" href="">Prima ajustable según necesidades</a><br />
                    <a class="btn btn-light px-3" href="">Coberturas de salud</a><br />
                    <a class="btn btn-light px-3" href="">Ahorro para universidad de tus hijos</a><br />
                    <a class="btn btn-light px-3" href="">Ahorro para capitalizar el primer trabajo de tus hijos</a><br />
                    <a class="btn btn-light px-3" href="">Ahorro por número de años personalizado</a><br />
                    <a class="btn btn-light px-3" href="">Tu hijo puede ser el asegurado</a><br />
                    <a class="btn btn-light px-3" href="">Ahorro adicional voluntario</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded h-100 p-5">
                    <div class="d-flex align-items-center ms-n5 mb-4">
                        <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                            <img class="img-fluid"
                                 src="~/img/icon/icon-05-light.png"
                                 alt="" />
                        </div>
                        <h4 class="mb-0">RETIRO</h4>
                    </div>
                    <p class="mb-4">
                        Sólo nosotros podemos resguardar nuestro futuro, con anticipación y de tu mano nos encargamos de buscar el mejor proyecto para tu retiro digno cuando tu decidas que es el momento
                        en nuestros productos encontrarás los siguientes beneficios:
                    </p>
                    <a class="btn btn-light px-3" href="">Seguro de vida con retiro personal</a><br />
                    <a class="btn btn-light px-3" href="">Blindaje por accidentes e incapacidad</a><br />
                    <a class="btn btn-light px-3" href="">Recuperación de primas básicas</a><br />
                    <a class="btn btn-light px-3" href="">Temporalidad ajustable desde 10 años</a><br />
                    <a class="btn btn-light px-3" href="">Prima ajustable según necesidades</a><br />
                    <a class="btn btn-light px-3" href="">Coberturas de salud</a><br />
                    <a class="btn btn-light px-3" href="">Beneficios fiscales Art 151 LISR</a><br />
                    <a class="btn btn-light px-3" href="">Beneficios fiscales ART 185 LISR</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->