<div class="div-prudential">
    <div class="row">
        <div class="row col-lg-12">
            <img class="img-fluid" src="~/img/Capture.PNG" style="max-width:800px" />
        </div>
        <p class="mv-parrafo">
            Por más de 148 años Prudential Financial ha ayudado a sus clientes a crecer y proteger su patrimonio. Es una empresa conocida por cumplir sus promesas con sus clientes, una marca confiable, y una de las compañías más admiradas del mundo.
        </p>
    </div>
    <div class="row">
        <div class="row col-lg-12">
            <img class="img-fluid" src="~/img/Captffure.PNG" style="max-width:800px" />
        </div>
        <p class="mv-parrafo">
            La roca del logotipo de Prudential es el Peñón de Gibraltar, un monolítico ubicado en el extremo suroeste de Europa, en la Península Ibérica. Esta gran roca es parte de la identidad de Prudential y refleja solidez, estabilidad, experiencia e innovación.
        </p>
    </div>
    <div class="row">
        <div class="row col-lg-12">
            <img class="img-fluid" src="~/img/prudentialtext.PNG" style="max-width:300px" />
        </div>
        <p class="mv-parrafo">
            Además de ser la aseguradora de vida más grande en Estados Unidos, Prudential sigue creciendo en varios países del mundo.
        </p>
    </div>
    <br />
    <div class="row">
        <table id="paises" style="border:none">
            <tbody>
                <tr>
                    <td>ARGENTINA</td>
                    <td>CHINA</td>
                    <td>INDIA</td>
                    <td>MALASIA</td>
                </tr>
                <tr>
                    <td>BRASIL</td>
                    <td>ESTADOS UNIDOS</td>
                    <td>INDONESIA</td>
                    <td>MÉXICO</td>
                </tr>
                <tr>
                    <td>CHILE</td>
                    <td>GHANA</td>
                    <td>JAPÓN</td>
                    <td>TAIWÁN</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div class="row">
        <img class="img-fluid" src="~/img/WhatsApp Image 2023-04-26 at 10_44_10 AM.webp" style="max-width:800px" />
    </div>
    <br />
    <br />
    <div class="row">
        <div class="row col-lg-12">
            <img class="img-fluid" src="~/img/marcasreconocidas.PNG" style="max-width:400px" />
        </div>
        <br />
        <p class="mv-parrafo">
            Cuando contratas con una compañía de seguros, quieres asegurarte de que cuenta con solidez financiera, es decir, que tiene el capital para cumplir sus compromisos, incluso si faltan años para que llegue ese momento.
        </p>
        <br />
        <br />
        <p class="mv-parrafo">
            Hay agencias independientes que califican la solidez de las empresas financieras. Cada una tiene su propia escala de evaluación, sus propios estándares, su propia población de compañías evaluadas y su propia distribución de las compañías a través de sus escalas. Prudential es la aseguradora de vida y gastos médicos más grande de Estados Unidos, donde sus subsidiarias han recibido estas sólidas calificaciones:
        </p>
    </div>
</div>